<%- include("./includes/head.ejs") %>
<%- include("./includes/header.ejs") %>
<script src="/js/socket.js" defer></script>

<body>
  <div class="messenger">
    <div class="head">
      <a href="/">
        <h1>WebChat</h1>
      </a>
      <span class="profile-chat">
        <img src="<%= friend.imageUrl %>" alt="">
        <h4><%= friend.username %></h4>
      </span>
    </div>
    <ul class="chats" id="messages">

      <% for(const message of chat){ %>
      <% if(message.type === "img"){ %>
      <li class="<%= (message.userId.toString() === user._id.toString()) ? "me" : "he-she" %>">
        <img src="<%= message.message %>"></img>
      </li>
      <% }else{ %>
      <li class="<%= (message.userId.toString() === user._id.toString()) ? "me" : "he-she" %>">
        <p><%= message.message %></p>
      </li>
      <%   } %>
      <% } %>
    </ul>
    <form id="form" class="enter-message">
      <input type="hidden" id="userId" name="userId" value="<%= user._id %>" />
      <input type="hidden" id="chatId" name="chatId" value="<%= chatId %>" />
      <input type="hidden" id="friendId" name="friendId" value="<%= friend._id %>" />
      <input type="text" id="input" autocomplete="off">
      <input type="file" style="display: none;" name="image" id="imageUpload">
      <div id="uploadContainer" style="display: none;">
        <img src="" id="image" alt="">
        <i class="fa-solid fa-xmark" id="cancel"></i>
        <i class="fa-solid fa-paper-plane" id="send"></i>
      </div>
      <label for="imageUpload">
        <i class="fa-solid fa-image" style="cursor: pointer;"></i>
      </label>
    </form>
  </div>

</body>

<%- include("./includes/footer.ejs") %>