<%- include("./includes/head.ejs") %>
<%- include("./includes/header.ejs") %>

<body>
  <div class="messenger">
    <div class="head">
      <a href="/">
        <h1>WebChat</h1>
      </a>
      <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <ul class="friends">
      <% for(const friend of friends){ %>
      <li onclick="submitForm(this)">
        <form action="/<%= friend.username %>" id="<%= friend.username %>" method="POST">
          <input type="hidden" name="friendId" value="<%= friend._id %>" />
          <img src="<%= friend.imageUrl %>" alt="">
          <span>
            <h4><%= friend.username %></h4>
            <p><%= friend.lastMessage %></p>
          </span>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</body>
<%- include("./includes/footer.ejs") %>